# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# production artifacts
build/
dist/

# misc
.DS_Store
*.pem
*.log
*.crt
*.key

# version control
.git/
.gitignore

# environment files
 
 

# editor/IDE files
.vscode/
.idea/

# config files not needed in container
.babelrc
.eslintcache
 

# frontend public files not needed at runtime
public/manifest.json
public/robots.txt

# certs
certs/
