@import url(react-quill/dist/quill.snow.css);
body {
  margin: 0;
  background-color: #FBFAF9;
  color: #1d1917;
  font-family: "Roboto","Helvetica","Arial",sans-serif; }

.App {
  max-width: 100%;
  margin: 0 auto;
  background-color: #FBFAF9;
  padding: 0; }

.pageContainer {
  padding: 20px; }

.listSelection:hover {
  background-color: #f2c85b;
  cursor: pointer;
  color: #f7f7f7; }

.button {
  background-color: #f86e51; }

/* Articles */
#articleDisplayContainer {
  background-color: antiquewhite;
  color: #1d1917;
  border-radius: 5px 5px;
  max-width: 600px;
  box-shadow: #1d1917 3px 3px 3px 3px; }

.add-shadow {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1); }

a {
  cursor: pointer; }

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.mainNavigation.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #f86e51; }

.max-point {
  color: #f86e51; }

.mid-point {
  color: #f2c85b; }

.safe-zone {
  color: #5f9f00; }
